*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0,0,0,0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 40PX;
    color: #fff;
    margin-bottom: 50px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}
.welcome {
    padding: 10px 70px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ff4da6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
    margin: auto;
    margin-right: 50px;
  }
  
@-webkit-keyframes glow1 {
    from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
      box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }
  .trail { /* className for the trail elements */
    position: absolute;
    height: 5px; width: 5px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
  }
